.movies-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 10px 0;
}

.controls {
  position: relative;
}

.prevButton {
  position: absolute;
  left: 0;
  z-index: 10;
}

.nextButton {
  position: absolute;
  right: 0;
  z-index: 10;
}

.sliderBtn {
  background: none;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
}

.popular-movies-container,
.toprated-movies-container,
.nowplaying-movies-container,
.upcomingmovies-container {
  max-width: 80%;
  margin: 0 auto;
  border: 1px solid black;
}

.see-more {
  margin-left: 10px;
  font-size: 15px;
}
