body {
  background-color: black;
  color: white;
}

.search-movies-container {
  display: grid;
  grid-template-columns: auto;
  max-width: 80%;
  margin: 100px auto 50px;
  row-gap: 10px;
}

.search-movies-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-pagination {
  display: flex;
  justify-content: flex-end;
  column-gap: 5px;
}

.search-pagination li {
  /* background-color: darkgray; */
  color: white;
  margin-left: 1px;
  text-decoration: underline;
  /* padding: 5px 10px; */
  /* border-radius: 5px; */
}

.active-page a {
  color: lightblue;
}
