.navbar {
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 56px;
}

.navbar-container {
  width: 100%;
  height: 56px;
  display: flex;
  background-color: #24252a;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 1rem;
}

.nav-searchbar {
  font-size: 0.8rem;
}
